notebooks/ultralytics_crop
notebooks/object_cropping_output.avi
outputs/tests
inputs
data
env
notebooks/analitycs
outputs/analises
outputs/processed_video.mp4
notebooks/runs
notebooks/analise_final
notebooks/analise_visual
outputs/modelos_treinados
outputs/processed_video_ue5_2x.mp4
src/__pycache__
.gitattributes
notebooks/detection_metrics.csv
notebooks/frame_metrics.csv
notebooks/ocr_comparison.csv

